<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://media-exp1.licdn.com/dms/image/C4D0BAQFzref2Ty3s8g/company-logo_200_200/0/1661933291477?e=1671667200&v=beta&t=mb3HOOhbuPMNbpUVjRc50IoU4B--6fYawWNrSS130cc">
    <title>All users</title>
</head>
<body>
    <!--top nav bar-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand" href="#">
                <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQFzref2Ty3s8g/company-logo_200_200/0/1661933291477?e=1671667200&v=beta&t=mb3HOOhbuPMNbpUVjRc50IoU4B--6fYawWNrSS130cc" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
                &nbsp;&nbsp;&nbsp;ClearSolutionsTask
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Create user</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">All users</a>
                </li>
              </ul>
            </div>
        </div>
    </nav>


    <!--all users-->
    <div style="margin: auto; text-align: center; margin-top: 70px;">
        <h2>List of all users</h2>
        <p style="font-size: 13pt; color:gray">Here you can view information about users</p>
    </div>


    <!--users table-->
    <table id="users_table" class="table table-striped table-bordered" style="width: 80%; margin: auto; margin-top: 50px;">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Birth date</th>
            <th scope="col">Addres</th>
            <th scope="col">Phone number</th>
        </tr>
        </thead>
        <!--delete/update users, info-->
        <!--
        <tbody>
            <tr th:each="user : ${allUsers}">
                <th scope="row" th:text="${user.id}"></th>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.getRegisterDate()}"></td>
                <td>
                    <form method="post" th:action="@{/profile/all_users/{id}(id=${user.id})}" id="all_users" style="margin: 20px auto; text-align: center;">
                        <button class="btn btn-dark"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;"
                                type="submit">Delete user
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
        -->
    </table>


    <!--find users-->
    <div id="find_users_block" style="margin: auto; text-align: center; margin-top: 80px;">
        <h4>Find users</h4>
        <div class="input-group mb-3" style="margin: auto; width: 15%; text-align: center;  margin-top: 20px;">
            <span class="input-group-text">From</span>
            <input id="min_age" placeholder="min 18"
                class="form-control"  type="text">
            <span class="input-group-text">y.o.</span>
        </div>
        <div>↑↓</div>
        <div class="input-group mb-3" style="margin: auto; width: 15%; text-align: center;  margin-top: 20px;">
            <span class="input-group-text">To</span>
            <input id="max_age" placeholder="unlimited"
                class="form-control"  type="text">
            <span class="input-group-text">y.o.</span>
        </div>
        <button type="submit" class="btn btn-dark">Find</button>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>